:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-bg: #4a5568;
  --button-text: #ffffff;
  --button-hover: #2d3748;
}
[data-theme='dark'] {
  --background-color: #1a202c;
  --text-color: #ffffff;
  --button-bg: #2d3748;
  --button-text: #ffffff;
  --button-hover: #4a5568;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
